<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
      <h1>
      <% goodbye = "Goobye #{name}" %>
      <%= goodbye %>
      </h1>
        <p></p>
    </body>
</html>
